body {
	/* background-color: #010A19; */
	color: #FF3E20;
	font-family: 'Lato', sans-serif;
	margin: 0;
	/* font-size: 20px; */
	line-height: 1.15;
}

#main {
	display: grid;
	grid-template-columns: [col1-start] 2fr [col1-end col2-start] 1fr [col2-end];
  	background-color: #08203C
}

#player-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
	grid-column: col1-start;
}

#side-menu {
	z-index: 300;
    flex-direction: column;
	position: relative;
	width: 22.5rem;
    height: 100vh;
	overflow: hidden;
}

.d-flex {
    display: flex !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-align-center {
	align-content: center;
}

.flex-justify-center {
	justify-content: center
}

.flex-grow-1 {
	flex-grow: 1;
}
.ps-color-bg-gray-04 {
	background-color: #093E60;
	background-image: linear-gradient(to bottom right, #093E60,  #007AAD);
}


ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}


.tabs {
    padding: 0 0 1rem 1.5rem;
    height: 3rem;
    letter-spacing: -.05em;
    text-rendering: optimizeLegibility;
    word-wrap: normal;
	/* font-size: .875rem; */
	font-size: inherit;
    line-height: 1.5rem;
    letter-spacing: 0;
    margin: 0;
    max-width: 100%;
    border-bottom: 1px solid #08203C;
    list-style-type: none;
	margin-bottom: 0;
}

.tabs li {
    float: left;
    margin: 0;
    margin-right: 2rem;
}

.tabs li.selected {
    border-bottom: 4px solid #F4ACBA;
}

.tabs li button {
    color: #BFDFF4;
    display: block;
    padding: 1.25rem 0 1rem;
    text-decoration: none;
    background: none;
    border: none;
	cursor: pointer;
	font-family: inherit;
	font: 400 11px 
}

button {
	font-size: 100%
}
.side-menu-tab-button:focus {
    outline: none;
}

/* #sh-wrapper {
	display: grid;
	grid-template-columns: [col1-start] 50% [col1-end col2-start] 50% [col2-end];
  } */

.side-menu-tab-button {
	transition: color .2s ease-in-out;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

#noteslist {
	max-height: calc(100% - 3rem);
	
}

.notes-list {
	overflow-y: auto;
}
.hidden {
	display: none;
}
  
.visible {
	display: initial;
}

/* buttons */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 25px 80px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
}

.example_c {
	color: #494949 !important;
	text-transform: uppercase;
	background: #ffffff;
	padding: 10px;
	border: 1px solid #494949 !important;
	/* border-radius: 6px; */
	display: inline-block;
	}

.example_c:hover {
	color: #ffffff !important;
	background: #007AAD;
	border-color: #007AAD !important;
	transition: all 0.4s ease 0s;
	box-shadow: 0 4px #006d9b;
	top: 2px;
}